nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


nav{
	display: block;
}


nav {
    background-color: black;
    height: 30px;
    text-align: center;
}


nav ul {
    padding-top: 7px;
}


nav ul li {
    display: inline-block;
    margin-right: 10px;
}


nav ul li a {
    color: white;
    text-decoration: none;
}


nav ul li a:hover {
    text-decoration: underline;
}
