/*https://raw.githubusercontent.com/nerds-who-care/seahawks/master/images/jerseys.jpg*/
/*https://raw.githubusercontent.com/nerds-who-care/seahawks/master/images/12th-man.jpg*/

body {
    margin:0px;
}
header {
position:relative;
background-image: url(https://raw.githubusercontent.com/nerds-who-care/seahawks/master/images/12th-man.jpg);
background-repeat: no-repeat;
background-size:cover;
height:80px;
}
.centerblock {
    position:relative;
    display: block;
    text-align:center;
    color: white;
    font-size:30px;
    font-weight:bold;
    font-family: Calibri, Arial;
    margin: 0px;
    padding: 40px 0px 0px 0px;
}
header #shopping-cart {
position:absolute;
top: 10px;
right:10px;
}

nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

nav{
	display: block;
}

nav {
    background-color: black;
    height: 30px;
    text-align: center;
}

nav ul {
    padding-top: 7px;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    cursor:pointer;
}

nav ul li a:hover {
    text-decoration: underline;
}
