/*https://raw.githubusercontent.com/nerds-who-care/seahawks/master/images/jerseys.jpg*/
/*https://raw.githubusercontent.com/nerds-who-care/seahawks/master/images/12th-man.jpg*/

html {
  position: relative;
}

body {
  margin: 0px;
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 48px;
  line-height: 80px
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  position: relative;
  background-image: url(https://raw.githubusercontent.com/nerds-who-care/seahawks/master/images/12th-man.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  color: white;
}

.title {
  position: relative;
  display: block;
  text-align: center;
  margin: 0px;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu a {
  color: white;
  cursor: pointer;
}

.user-menu {
  position: absolute;
  top: 5px;
  right: 10px;
}

.user-menu li + li {
  border-left: 1px solid white;
  padding-left: 12px;
}

.categories-menu {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: black;
  height: 30px;
  text-align: center;
}

.categories-menu ul.menu {
  padding-top: 7px;
  margin-top: 0px;
}

#shopping-links {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#shopping-links ul li img {
  max-width: 160px;
  max-height: 160px;
}

#shopping-links ul {
  list-style-type: none;
}

#shopping-links ul li {
  display: inline-block;
  text-align: center;
}

#category-products {
  display: none;
  position: fixed;
  margin: 20% 30%;
  background-color: #fff;
  border: solid 5px #2E3751;
  border-radius: 10px;
  min-height: 200px;
  min-width: 200px;
  padding: 25px;
  padding-bottom: 15px;
  top: 0px;
  z-index: 10;
}

#category-products div {
  white-space: nowrap;
}

#category-products .productimg {
  width: 80px;
  vertical-align:middle;
  margin-right: 15px;
  margin-bottom: 10px;
}

.closex {
  position: absolute;
  top: 5px;
  right: 5px;
  border: solid 2px #2E3751;
  border-radius: 5px;
  padding: 3px;
  font-family: Verdana;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
}

#fans {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#fans img {
  max-width: 200px;
  max-height: 200px;
  margin-right: 5px;
}

footer {
  margin-bottom: 40px;
}






