body {
	margin:0;
}
header {
	background-image: url(https://raw.githubusercontent.com/nerds-who-care/seahawks/master/images/12th-man.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	height: 80px;
}
header h1 {
	color:white;
	font-size: 30px;
	font-weight: bold;
	font-family: Calibri,Arial;
	padding:30px 0px 0px 0px;
	display: inline-block;
}
header #shopping-cart{
	float:right;
	position: absolute;
	top: 10px;
	right: 10px;
}
nav header{
	margin-top: 5px;
	padding-top: 60px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
nav header{
	display: block;
}
nav{
	display: inline-block;
	height: 50px;
	width: 100%;
	text-align: center;
	}
nav ul {
	background-color: black;
	padding-top: 15px;
}

nav ul li {
	cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}
#gender-shop li {
	margin-left: 25%;
	float: left;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
.footer {
	clear: both;
}
